* {
  padding: 0px;
  margin: 0px;
  font-family: popins;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainBgDashboard {
  background: linear-gradient(-146deg, #f0f0f0 60%, #fefbf9 60%);
  height: 100vh;
}
.Bg-color {
  display: flex !important;
  flex-direction: row !important;
}


/* .button-Bg {
  background-color: #f8eee7 !important;
  color: #2c2b30 !important;
  border: 1px solid #f4decb !important;
} */
.dash{
  font-size: smaller;
  cursor: pointer;
}
.heading {
  color: #2c2b30;
  margin-bottom: 10px;
}
.headings {
  color: #2c2b30;
  margin-bottom: 10px;
}
.app-heading {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 3rem;
  color: #2c2b30;
}
.main-component {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.152);
  margin: 0 auto!important;
  justify-content: center;
  width: auto !important;
}
.user-table {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12) !important;
  border-radius: 20px !important;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 5px 0;
}

.App-heading {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
 
}
.Application-title {
  /* border: 1px solid gray; */
  font-size: 1rem;
}
.Descreption {
  margin-left: 60px;
  font-size: smaller;
  color: darkgray;
  padding: 10px;
}
.Logo {
  width: auto;
  height: 85px;
}
.box {
  padding-right: 15px;
  background-color: #f8eee7;
  border-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10%;
  width: 95%;
}
.giff{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}
.imggifs{
  /* border: 1px solid black; */
  width:50%;
  height:500px;
  border-radius: 20px;
  mix-blend-mode: darken;
}
.imggif {
  
  width: 93%;
  height:550px;
  margin:0px 100px;
  border-radius: 20px;
  mix-blend-mode: darken;
}
.fields {
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 15px;
  padding: 15px;
  border-radius: 20px;
  width: 350px;
  background-color: #f8eee7;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.tablerow {
  display: flex;
  align-items: center;
}
.Tablecontainer {
  align-items: center;
  height: 350px !important;
  scroll-behavior: smooth !important;
  scroll-snap-type: none;
}
.message {
  color: "#6a329f" !important;
  margin-top: 5px;
  margin-left: 17px;
}
.addnewbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  align-items: center;
}



.Heading {
  margin: 15px;
}
.note {
  margin:0 65px;
  /* border: 1px solid black; */
}
.StickyWall-container {
  border: 1px solid #2c2b3017;
  margin: 10px 50px;
  height: auto;
  width: auto;
  box-shadow: 0px 6px 19px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.addnew {
  display: flex;
  flex-direction: row;
  margin: 0 50px;
  font-size: 1rem;
  /* border: 1px solid black; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(169, 164, 164, 0.067);
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.373);
  border-radius: 5px;
  height: 170px;
  width: 150px;
  margin: 10px;
}
.control {
  position: relative;
  top: -12%;
  left: 47%;
}
.content {
  position: relative;
  top: -20%;
}
.value {
  display: flex;
  justify-content: center !important;
  flex-direction: row;
  color: black;

  gap: 2px;
  margin-top: 10px;
}
.TimeSheet-container {
  margin: 10px auto;
  height: auto;
  width: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.152);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 786px) {
  .app-heading {
    font-size: 2rem;
  }
  .Application-title {
    font-size: 0.6rem;
  }
  .Descreption {
    margin-left: 30px;
  }
  .Logo {
    width: auto;
    height: 40px;
  }
  .imggif {
    /* border: 1px solid black; */
    width: 93%;
    height:400px;
    margin:2px 25px;
  }
  .addnew {
    font-size: 0.5rem;
    /* border: 1px solid black; */
  }
  .note{
    font-size: 12px;
  }
}
